PORT=5000

# Configure MySQL apenas se desejar estatísticas simples de uso.
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=secret
DB_DATABASE=resolve_text

# Se não deseja usar MySQL, deixe estas variáveis vazias.
